    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-5">
        <div class="container">
            <a class="navbar-brand fw-bold text-success fs-3" href="/">DailyLitBits</a>

            <div class="ms-auto">
                {% if username %}
                <span class="text-muted me-3">Welcome, {{ username }}</span>
                {% endif %}
                <a href="/intro" class="btn btn-link text-secondary text-decoration-none me-2">How it Works</a>
                <a href="/library" class="btn btn-link text-success text-decoration-none me-2"
                    style="font-weight: 500;">Browse Library</a>
                <a href="/login" class="btn btn-outline-success btn-sm px-4">Log In</a>
            </div>
        </div>
    </nav>